body {
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

.map-container { 
  position: absolute;
  width: 100hw;
  height: 100vh;
}

.ui-container { 
  position: absolute;
  z-index: 100;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding: .5rem;
  background: lightgray;
}

.ui-row {
  /* border: 1px solid red; */
  padding-top: .4rem;
}

.csvUrl-input {
  max-width: 5rem;
  margin-right: .25rem;
}